<!-- SLIDE 1 -->
<div class="proto__slide proto__slide__1 js-protoSlide js-protoSlide1">
  
  <header class="proto__slide__bar js-protoSlideBar js-protoSlide1Bar">
    <h1 class="proto__slide__bar__title">prototype</h1>
  </header> 
  
  <menu class="proto__menu js-protoMenu">
    <a href="#protoTop" class="proto__menu__item proto__menu__item--news js-protoSlideTopBtn">
      <div class="proto__menu__item__img proto__menu__item__img--news">
        <figure class="proto__menu__item__img__inner" style="background-image:url(img/news/sm/6859055833_282e16f7ea_z.jpg)"></figure>
      </div>
      <i class="fa fa-bullhorn icon proto__menu__item__icon proto__menu__item__icon__news"></i>
      <span class="proto__menu__item__text">Top news</span>
    </a>
    <a href="#protoPicks" class="proto__menu__item js-protoSlideEditorBtn">
      <div class="proto__menu__item__img">
        <figure class="proto__menu__item__img__inner" style="background-image:url(img/news/sm/6427643607_e62590530d_b.jpg)"></figure>
      </div>
      <i class="fa fa-thumb-tack icon proto__menu__item__icon"></i>
      <span class="proto__menu__item__text">Editor's Pick</span>
    </a>
    <a href="#protoPhotos" class="proto__menu__item js-protoSlidePhotoBtn">
      <div class="proto__menu__item__img">
        <figure class="proto__menu__item__img__inner" style="background-image:url(img/news/sm/7757908032_a2b1ef4d79_k.jpg)"></figure>
      </div>
      <i class="fa fa-camera icon proto__menu__item__icon"></i>
      <span class="proto__menu__item__text">Photo Roll</span>
    </a>
  </menu>

  <section class="proto__items js-protoItems">

    <div class="proto__slide__divider">Latest News</div>

    {{#each news}}
      {{#lt @index 12}}
        <article class="proto__item js-protoTransitionIn" data-news-index="{{@index}}">
          <header class="proto__item__header">
            <div class="proto__item__header__img{{#if img.anchorTop}} proto__item__header__img--top{{/if}}{{#if img.anchorBottom}} proto__item__header__img--bottom{{/if}} js-protoItemHeaderImg" style="background-image:url(img/news/sm/{{img.file}})" data-img-lg="img/news/lg/{{img.file}}"></div>
          </header>
          <h2 class="proto__headline">
            <span class="proto__date">{{date}}</span>
            {{title}}
          </h2>
          <h4 class="proto__subhead">
            {{intro}} 
          </h4>
        </article>
      {{/lt}}
    {{/each}}

  </section>
  
</div>